* {
    transition: padding 0.5s, border-radius 0.5s, white-space 0.5s, display 0.5s, position 0.5s, height 0.5s, margin 0.5s, gap 0.5s, font-size 0.5s;
}
:root {
    --bg-dark: #101012;
    --accent-1-dark: #181a26;
    --accent-2-dark: #3b3b46;
    --accent-3-dark: #2d2d44;
    --accent-4-dark: #16191f;
    --accent-1-light: #f4f4f4;
    --accent-2-light: #e0e0e0;
    --accent-3-light: #d2d2d2;
    --accent-4-light: #f0f0f0;
    --accent-5-light: #b5b5b5;
    --accent-6-light: #5c5c5c;
    --btn-light: #c3cad3;
    --btn-dark: #2f3741;
    --btn-dark-clicked: #475a7c;
    --btn-light-clicked: #8a97a9;
    --round: 15px;
    --blue: #4cb7ff;
    --dark-blue: #0080ff;
}

/* Track */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent-5-light);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-6-light);
}

/* Button */
::-webkit-scrollbar-button {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Track piece */
::-webkit-scrollbar-track-piece {
    background: transparent;
}

/* Handle on scrollbar handle */
::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: white;
}
.dark a {
    color: #ffa000;
}
.dark body {
    background: var(--bg-dark);
    color: white;
}

textarea {
    padding: 10px;
    border-radius: 0.5rem;
    border: none;
}

textarea:focus {
    outline: none;
}

button {
    user-select: none;
}

button,
input,
select {
    border: 2px transparent solid;
    padding: 10px;
    height: 40px;
    background: var(--btn-light);
    color: black !important;
    border-radius: 10px;
    text-align: center;
}

.dark button,
input,
select {
    background: var(--btn-dark);
    color: white !important;
}

button:active {
    background: var(--btn-light-clicked);
}

.dark button:active {
    background: var(--btn-dark-clicked);
}

input {
    text-align: left;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

img {
    vertical-align: middle;
}

.promptCtn {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    backdrop-filter: blur(10px);
    padding: 10px;
    padding-bottom: 5px;
    max-height: 100%;
    animation: entry 1s;
}

.promptCtnAlt {
    border: 2px gray solid;
    background: white;
    border-radius: 1rem;
    max-width: 700px;
    width: 100%;
    overflow: auto;
    display: flex;
    padding: 5px;
    margin: 5px auto;
}

.dark .promptCtnAlt {
    border: 2px var(--btn-dark) solid;
    background: var(--bg-dark);
}

.promptCtnAlt input {
    flex: 10;
    background: transparent;
    color: black !important;
}

.dark .promptCtnAlt input {
    color: white !important;
}

.promptCtnAlt button {
    height: 40px;
    width: 40px;
    padding: 0;
}

.secondaryCtnPrompt {
    padding: 5px;
    gap: 5px;
}

.secondaryCtnPrompt button {
    flex: 1;
    margin: 0;
}

.OptionsCtn {
    width: 100%;
}

.OptionsCtnAlt {
    border: 2px gray solid;
    background: white;
    border-radius: 1rem;
    max-width: 700px;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    display: block;
    padding: 5px;
    margin: 5px auto;
}

.dark .OptionsCtnAlt {
    border: 2px var(--btn-dark) solid;
    background: var(--bg-dark);
}

.optionGrid {
    background: var(--accent-3-light);
    display: flex;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    margin: 5px auto;
}

.dark .optionGrid {
    background: var(--btn-dark);
}

.optionGrid label {
    flex: 2;
    text-align: left;
    margin-left: 5px;
}

.dark .optionGrid label {
    color: white;
}

.optionGrid input {
    display: flex;
    flex: 5;
    background: var(--accent-1-light);
    color: black !important;
    width: 100%;
}

.optionGrid select {
    display: flex;
    flex: 5;
    background: var(--accent-1-light);
    color: black !important;
    width: 100%;
}

.dark .optionGrid button {
    background: var(--accent-1-dark);
}

.dark .optionGrid input {
    background: var(--accent-1-dark);
    color: white !important;
}

.dark .optionGrid select {
    background: var(--accent-1-dark);
    color: white !important;
}

.optionGrid button {
    flex: 5;
    background: var(--accent-1-light);
}

.notepadCtn {
    display: block;
}

.notepadCtn label {
    display: block;
}

.notepadCtn textarea {
    background: var(--accent-1-light);
    width: 100%;
    height: 200px;
    resize: none;
}

.dark .notepadCtn textarea {
    background: var(--accent-1-dark);
    color: white;
}
/* *************************************** */
.promptBtnSmallScreen {
    display: flex;
    gap: 5px;
}

.secondaryBtnMbol {
    width: 100%;
    gap: 5px;
}

.outputImageCtn {
    position: fixed;
    width: 100%;
    height: 100%;
}

.outputImageCtnAlt {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    overflow: scroll;
    padding: 5px;
    margin: 5px auto;
    margin-bottom: 40px;
}

.dark .outputImageCtn {
    background: var(--bg-dark);
    color: white;
}

.ebnCtn {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ebnBody {
    width: 100%;
}

.ebnCloseBtn {
    position: fixed;
    right: 0;
    padding: 5px;
    height: auto;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 0 8px #ff302c;
}

.ebnCloseBtn:active {
    background: #ff302c;
}

.atnCtn {
    text-align: justify;
    border-radius: 1rem;
    padding: 10px;
    border: 2px #cdd9f5 solid;
    max-width: 700px;
    margin: auto;
    width: 100%;
    margin: 10px auto;
    background: #f3f6fd;
}

.dark .atnCtn {
    border-color: #282830;
    background: #161618;
}

.atnCtn blockquote {
    border-left: 15px #2b7aff solid;
    margin-left: 10px;
    border-radius: 0.8rem;
    padding: 10px;
    padding-left: 15px;
    background: #b9d3ff;
    margin: 10px auto;
}

.dark .atnCtn blockquote {
    color: black;
}

.dark .atnCtn blockquote a {
    color: red;
}
/**************/
/* Animations */
/**************/
@keyframes entry {
    0% {
        bottom: -5000px;
    }
    80% {
        bottom: 5px;
    }
    90% {
        bottom: 10px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes attention {

    0%,
    80% {
        box-shadow: 0 0 2px red;
        background: red;
    }

    50% {
        box-shadow: 0 0 8px red;
    }

    100% {
        box-shadow: 0 0 0 red;
    }
}

/**********/
/* Medias */
/**********/
@media (max-width: 400px) {
    .promptCtnAlt {
        display: block;
        
    }

    .promptCtnAlt input {
        width: 100%;
        margin: 0;
    }

    .promptCtnAlt button {
        margin: 0;
        width: 100%;
        animation: none !important;
        border-radius: 0;
    }

    .promptBtnSmallScreen {
        display: flex;
        border-radius: 0.5rem;
        overflow: hidden;
        gap: 0;
    }
    
    .secondaryBtnMbol {
        gap: 0;
    }
    
    .secondaryBtnMbol button {
        padding: 0;
        font-size: 0.6rem;
    }
    
    .OptionsCtnAlt {
        padding: 0;
    }
    
    .optionGrid {
        margin: 0;
        border-radius: 0;
        display: block;
        text-align: left;
    }
    
    .optionGrid input {
        margin-top: 10px;
    }
}
@media (max-width: 300px){
    .outputImageContainer {
        font-size: 0.8rem;
    }
    .promptBtnSmallScreen {
        border-radius: 0;
    }
    
    .promptCtnAlt {
        padding: 0;
        
    }

    .promptCtnAlt button {
        padding: 0;
    }
}
  
@media (max-width: 240px){ 
    .promptCtn {
        padding: 0;
    }
    
    .promptCtnAlt {
        border-radius: 0;
        margin: 0;
    }
    
    .secondaryBtnMbol {
        display: block;
        height: 50px;
        overflow: scroll;
    }
    .secondaryBtnMbol button {
        margin: 0;
        font-size: 1rem;
    }
    
    .OptionsCtnAlt {
        border-radius: 0;
        margin: 0;
    }
}
