:root {
    --bg-dark: #101012;
    --accent-1-dark: #181a26;
    --accent-2-dark: #3b3b46;
    --accent-3-dark: #2d2d44;
}

/* Track */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--accent-1-dark);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-3-dark);
}

/* Button */
::-webkit-scrollbar-button {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Track piece */
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

/* Handle on scrollbar handle */
::-webkit-scrollbar-corner {
    background-color: transparent;
}

body {
    margin: 0;
    transition: background-color 0.5s, color 0.1s;
}

button {
    color: white !important;
    border: none;
    border-radius: 1000px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    background-color: var(--accent-1-dark);
}

button:active {
    box-shadow: inset 0 0 4px #3898ff, 0 0 4px #3898ff;
}

.inputButtonsContainer {
    color: white;
    margin: 20px auto;
    justify-content: center;
    align-content: center;
    display: flex;
}

textarea {
    border: transparent;
    padding: 15px !important;
    border-radius: 15px;
    width: 95% !important;
    box-shadow: 0 0 10px black;
    transition: background-color 0.5s, color 0.1s, box-shadow 0.5s, text-shadow 0.5s;
    resize: vertical;
    margin: auto;
}

textarea:focus {
    outline: none;
}

input {
    text-align: center;
    border: transparent;
    padding: 15px;
    border-radius: 100px;
    text-shadow: 0 0 0;
    transition: background-color 0.5s, color 0.1s, box-shadow 0.5s, text-shadow 0.5s;
    resize: vertical;
    margin: 5px auto;
}

input:focus {
    outline: none;
}

iframe {
    border: none;
}